parameters:
	ignoreErrors:
		- '#Constant TEMP_DIR not found#'
		# Temporary, untill the resolvers are refactored to work on application request basis
		- '#Strict comparison using === between string and null will always evaluate to false#'
		# Other errors
		- '#Array \(array\<Symfony\\Component\\Translation\\Loader\\LoaderInterface\>\) does not accept object#'