<h1>{_"Important title"}</h1>
<h2>{_'Another important title'}</h2>

<p>{_}
Interesting article about interesting topic
{/_}</p>

<h2>{_'Chapter 2'|noescape}</h2>

<p>{_'none|one|many', $count}</p>

<h1>{_ sample.identificator}</h1>
