extensions:
	events: Kdyby\Events\DI\EventsExtension
	annotations: Kdyby\Annotations\DI\AnnotationsExtension
	doctrine: Kdyby\Doctrine\DI\OrmExtension


translation:
	database:
		loader: doctrine


doctrine:
	driver: pdo_sqlite
	memory: true
