{translator front.homepage}

{_namedHello, 3}
{_namedHello, 3, [name => 'Peter']}
{_namedHello, [name => 'Peter']}

{_namedHello, 3, NULL, NULL, 'cs'}
{_namedHello, 3, array('name' => 'Peter'), NULL, 'cs'}
{_namedHello, array('name' => 'Peter'), NULL, 'cs'}

{/translator}{translator front.missingKey}

{_namedHello, 3, NULL, NULL, 'cs'}
{_namedHello, 3, array('name' => 'Peter'), NULL, 'cs'}
{_namedHello, array('name' => 'Peter'), NULL, 'cs'}

{/translator}{translator front.homepage}

{_namedHelloCounting, 3, NULL, NULL, 'en'}
{_namedHelloCounting, 3, array('name' => 'Peter'), NULL, 'en'}
{_namedHelloCounting, array('name' => 'Peter'), NULL, 'en'}

{/translator}{translator front.missingKey /}

{_namedHelloCounting, 3, NULL, NULL, 'en'}
{_namedHelloCounting, 3, array('name' => 'Peter'), NULL, 'en'}
{_namedHelloCounting, array('name' => 'Peter'), NULL, 'en'}
